= render 'form'
.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading État des membres
      .panel-body
        %center
          %h1 État des membres
%table.striped
  %tbody
  - @users.each do |user|
    - if ! @club.contains_user_valide(user[:id])
      %tr
        %td
          = user[:name]
        %td
          = user[:lastname]
        %td.right-align
          = link_to 'Ajouter', class: "btn-valider waves-effect waves-light btn"

.col-md-12.col-xs-12
  .icon-addon.addon-md
    = bootstrap_form_for(@club, multipart: true) do |f|
      .col-md-8.col-xs-12
        = f.select :user_ids, @club.users.map{|user| [user.name, user.lastname] }, label: "Liste des membres"
      .col-md-4.col-xs-12{:class =>"fonction-club"}
        = link_to "Détruire le membre", edit_club_path(@club), :class=>"btn btn-md btn-warning"
.col-md-12.col-xs-12
  .icon-addon.addon-md
    = bootstrap_form_for(@club, multipart: true) do |f|
      .col-md-8.col-xs-12
        = f.select :user_ids, @club.users.map{|user| [user.name, user.lastname] }, label: "Promouvoir le membre au rang d'administrateur"
      .col-md-4.col-xs-12{:class =>"fonction-club"}
        = link_to "Promouvoir admin", edit_club_path(@club), :class=>"btn btn-md btn-warning"
        .col-md-12.col-xs-12
  .icon-addon.addon-md
    = bootstrap_form_for(@club, multipart: true) do |f|
      .col-md-8.col-xs-12
        = f.select :user_ids, @club.users.map{|user| [user.name, user.lastname] }, label: "Promouvoir le membre au rang de président"
      .col-md-4.col-xs-12{:class =>"fonction-club"}
        = link_to "Promouvoir président", edit_club_path(@club), :class=>"btn btn-md btn-warning"