.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Liste des clubs
      .panel-body
        %ul.nav.nav-tabs{:role => "tablist"}
          %li{:role => "presentation", :class=>("active" if current_page?(clubs_path))}
            = link_to "Tous les clubs", clubs_path
          %li{:role => "presentation", :class=>("active" if current_page?(clubs_list_private_path))}
            = link_to "Mes clubs", clubs_list_private_path           
        .tab-content
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Nom du club
                  %th Site Web
                  %th Profil
                  %th News
              %tbody
                - @clubs.sort_by{|club| club.name }.each do | club |
                  %tr
                    %td
                      - if club.name
                        = club.name
                    %td
                      - if club.website
                        = club.website
                    %td
                      = link_to club, :class=>"btn btn-sm btn-default" do
                        Voir le profil
                    %td
                      = link_to articles_path, :class=>"btn btn-sm btn-default" do
                        Voir les news
                    - if current_page?(clubs_path)
                      %td
                        =mail_to User.find_by_id(club.president_id).email, :subject => "".concat(current_user.name).concat(" ").concat(current_user.lastname).concat(" ").concat("aimerait rejoindre ton club").concat(" ").concat(club.name), :body => "Bonjour ".concat(club.president).concat(", \n").concat(current_user.name).concat(" ").concat(current_user.lastname).concat(" a exprimé la volonté de rejoindre ton club : ").concat(" ").concat(club.name).concat(".\n").concat("Ajouts du demandeur : \n\n\n\n"), :class=>"btn btn-sm btn-default" do
                          Rejoindre ce club