.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading Créer un club
      .panel-body
        = bootstrap_form_for(@club, multipart: true) do |f|
          %h3 Informations personnelles
          .row
            .col-md-6.col-xs-12
              = f.text_field :name, {label: "Prenom"}
            .col-md-6.col-xs-12
              = f.text_field :website, {label: "Site Web"}
            .col-md-12
              = f.text_area :description, {label: "description"}
            .col-md-12
              = f.submit "Créer club", :class => "btn btn-primary pull-right"


:javascript
  window.current_user_promo = #{current_user.promo}
