.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-body{:style => "padding-bottom:0%;padding-top:0%"}
        .row{:style => "background-color:rgba(52, 73, 105,0.1);color:black;border-radius: 4px 4px 4px 4px;"}
          .col-md-3.col-xs-4{:style => "background-color:rgba(66,139,202,1);color:black;display:table-cell;float:none;border-radius:4px"}
            %br
              %center{:style => "margin-top:40%"}
                %img.img-responsive.img-circle{:src => @club.logo.url, :style => "width:150px;height:150px"} 
                //%img.img-responsive.center-block{:src => @club.logo.url}
                %h1
                  = @club.name
                %br
                = link_to clubs_join_path do #TODO
                  %button.btn.btn-default{:type => "button"} Voir les news
          .col-md-8.col-xs-9{:style => "display:table-cell;float:none"}
            .panel.panel-default{:style => "margin-top:8%"}
              .panel-body{:style => "padding-top:0.05%"}
                %h1 Description
                %br
                %p{:style => "text-align: justify"}
                  = @club.description
            .panel.panel-default{:style => "margin-top:8%;margin-bottom:8%"}
              .panel-body{:style => "padding-top:0.05%"}
                %h1 Informations
                %br
                %B Président : 
                = @club.president
                
                %br
                %B Membres : 
                Felix, Kévin, Constantin, Clément...
                %br
                %br
                %button.btn.btn-default{:type => "button"} Nous contacter
                = link_to clubs_join_path do
                  %button.btn.btn-default{:type => "button"} Rejoindre ce club

