.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      - if current_page?(new_article_path)
        .panel-heading Créer un article
      - else
        .panel-heading Modifier un article
      .panel-body
        = bootstrap_form_for(@article, multipart: true) do |f|
          %center
            - if current_page?(new_article_path)
              %h1 Création d'un nouvel article
            - else
              %h1 Modification de l'article
          %br
          %br
          .row
            .col-md-6.col-xs-12
              .icon-addon.addon-md
                = f.select :club_id, current_user.club.collect { |p| [ p.name, p.id ]}, label: "Pour quel club veux-tu publier un article" 
            .col-md-6.col-xs-12
              = f.text_field :title, {label: "Quel est le titre de ton article", :placeholder => "Titre de l'article"}
            -unless @admin
              .col-md-6.col-xs-12
                = f.check_box :is_private, {label: "Article privé"}
              /*= f.text_field :is_private, {label: "Est ce que l'article est privé ?", :placeholder => "Entrer 0 ou 1"}*/
            .col-md-12  
              = f.text_area :content, {label: "Description", :placeholder => "Tape ton article ici...", :class => "text-area-width", :rows => "5"}
            .form-group
              .col.md-offset-10.col-md-3{:class => "pull-right"}
                - if current_page?(new_article_path)
                  = f.submit "Publier l'article", :class => "btn btn-primary"
                - else
                  = f.submit "Modifier l'article", :class => "btn btn-primary"
                = link_to articles_path, :class=>"btn btn-default" do
                  Annuler
           
                
