.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading Créer un article
      .panel-body
        = bootstrap_form_for(@article, multipart: true) do |f|
          %center
            %h1 Création d'un nouvel article
          %br
          %br
          .row
            .col-md-6.col-xs-12
              %label.control-label
                Pour quel club veux-tu créer ton article ?
                %span.asteriskField
              .icon-addon.addon-md
                %select.form-control
                  %option Nom du club
                  - @club.name
            .col-md-6.col-xs-12
              = f.text_field :title, {label: "Quel est le titre de ton article", :placeholder => "Titre de l'article"}
            .col-md-6.col-xs-12
              = f.check_box :is_private, {label: "Article privé"}
              /*= f.text_field :is_private, {label: "Est ce que l'article est privé ?", :placeholder => "Entrer 0 ou 1"}*/
            .col-md-12
              = f.text_area :content, {label: "Description", :placeholder => "Tape ton article ici...", :style => "max-width:100%; min-width:100%", :rows => "5"}
            .form-group
              .col.md-offset-10.col-md-3{:class => "pull-right"}
                = f.submit "Publier l'article", :class => "btn btn-primary"
                = link_to articles_path, :class=>"btn btn-default" do
                  Annuler
           
                
