.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h3.panel-title News des clubs
      .panel-body
        %ul.nav.nav-tabs{:role => "tablist"}
          %li{:role => "presentation", :class=>("active" if current_page?(articles_path))}
            = link_to "Tous les clubs", articles_path
          %li{:role => "presentation", :class=>("active" if current_page?(articles_list_private_path))}
            = link_to "Mes clubs", articles_list_private_path 
          %br
          %br
          - if current_page?(articles_path)
            - @articles_np.each do | article |
              .panel.panel-default
                .panel-body
                  .row
                    .col-md-2.col-sm-3.text-center
                      %center
                        - if article.club
                          %a.story-img 
                            = link_to article.club do
                              %img.img-responsive.img-circle{:src => article.club.logo.url, :style => "width:110px;height:110px;margin-top:40%"}
                    .col-md-10.col-sm-9
                      %h3=article.title
                      .row
                        .col-xs-12
                          %p
                            =article.content
                          %p.lead
                            %a
                              = link_to article, :class=>"btn btn-md btn-default" do
                                Lire la suite
                          %ul.list-inline
                            %li
                              Il y a 
                              =time_ago_in_words(article.created_at, language:"fr")
                            %li
                              %a{:href => "#"}
          - else
            - @articles.each do | article |
              .panel.panel-default
                .panel-body
                  .row
                    .col-md-2.col-sm-3.text-center
                      %center
                        - if article.club
                          %a.story-img 
                            = link_to article.club do
                              %img.img-responsive.img-circle{:src => article.club.logo.url, :style => "width:110px;height:110px;margin-top:40%"}
                    .col-md-10.col-sm-9
                      %h3=article.title
                      .row
                        .col-xs-12
                          %p
                            =article.content
                          %p.lead
                            %a
                              = link_to article, :class=>"btn btn-md btn-default" do
                                Lire la suite
                          %ul.list-inline
                            %li
                              Il y a 
                              =time_ago_in_words(article.created_at, language:"fr")
                            %li
                              %a{:href => "#"}
        %center
          = will_paginate @collection, renderer: BootstrapPagination::Rails
        / %center
        /   %ul.pagination.pagination-alt
        /     %li.disabled
        /       %a{:href => "#"}
        /         &laquo;
        /     %li.active
        /       %a{:href => "#"} 1
        /     %li
        /       %a{:href => "#"} 2
        /     %li
        /       %a{:href => "#"} 3
        /     %li
        /       %a{:href => "#"} 4
        /     %li
        /       %a{:href => "#"} 5
        /     %li
        /       %a{:href => "#"}
        /         &raquo;
      
  .row
    .col-md-offset-11.col-md-1
      %img.img-responsive#button-top{:alt => "", :src =>  asset_path("arrows.png")}

:javascript
  window.current_user_promo = #{current_user.promo}
