.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-body{:style => "padding:1.5%"}
        .col-md-2.col-sm-3.text-center
          %center
            - if @article.club
              %a.story-img 
                = link_to @article.club do
                  %img.img-responsive.img-circle{:src => @article.club.logo.url, :style => "width:110px;height:110px;margin-top:40%"}
            %h3=@article.club.name
        .col-md-10.col-sm-9
          %center
            %h1=@article.title
          %br
          %p{:style => "text-align:justify;margin-bottom:30px"} 
            =@article.content
          %i Ecrit par 
          = @article.user.name 
          = @article.user.lastname
          .publie{:style => "text-align:right;margin-top:5%;padding-bottom:2%"}
            Publié le 
            =@article.created_at.strftime("%d %b. %Y")
            à
            =@article.created_at.strftime("%H:%M")
          .row{:style => "margin-top:10px"}
            = link_to clubs_join_path do
              %button.btn.btn-default{:type => "button", :class =>"pull-right"} Commentaires  
          .row{:style => "margin-top:5%"}
            = link_to edit_article_path(@article), :class=>"btn btn-md btn-success" do
              Modifier
            = link_to article_path(@article), :class=>"btn btn-md btn-danger" do
              Supprimer