.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Evénement
      .panel-body{:class => "article"}
        .title-article
          =@event.title
        .panel.panel-default{:class => "panel-date"} 
          - if @event.updated_at == @event.created_at
            .publier-article
              Publié le 
              =@event.created_at.strftime("%d %b. %Y")
              à
              =@event.created_at.strftime("%H:%M")
          - elsif @event.updated_at != @event.created_at
            .publier-article
              Publié le 
              =@event.created_at.strftime("%d %b. %Y")
              à
              =@event.created_at.strftime("%H:%M")
              %span.modifier-article
                Modifié le 
                =@event.updated_at.strftime("%d %b. %Y")
                à
                =@event.updated_at.strftime("%H:%M")
        .show-event-date
          %span.date-event-text
            Du 
          %span.date-event-data
            =@event.date_start.strftime("%d %b")
          %span.date-event-text  
            à 
          %span.date-event-data
            =@event.date_start.strftime("%H:%M")
          %span.date-event-text.tabulation             
            Au
          %span.date-event-data  
            =@event.date_end.strftime("%d %b")
          %span.date-event-text  
            à 
          %span.date-event-data  
            =@event.date_end.strftime("%H:%M")
            %br
            %br
          .date-event-text  
            À :
            %span.event-place
              =@event.location
        .content-article
          =@event.description
        .separator-bar
        .logo
          - if @event.club
            = link_to @event.club do
              %img.img-responsive.img-circle{:src => @event.club.logo.url, :class => "img-article"}
          .ecrivain
            Ecrit par
            = @event.user.name 
            = @event.user.lastname
            de
            = @event.club.name 
        .row{:class => "modifier"}
          = link_to edit_event_path(@event), :class=>"btn btn-md btn-success" do
            Modifier
          = link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(@event), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Voulez vous vraiment supprimer cet événement ?')) }, :class => 'btn btn-danger'